<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>請先註冊!</h1>
    <form id="registerForm" action="/register" method="POST">
        <label for="name">名稱:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <p id="name-error" style="color: red; display: none;">名稱只能包含英文和數字。</p><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="password">密碼:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <label for="password2">再次輸入密碼:</label><br>
        <input type="password" id="password2" name="password2" required><br><br>

        <label for="address">送貨地址:</label><br>
        <input type="text" id="address" name="address" required><br><br>

        <label for="birthday">出生日期:</label><br>
        <input type="date" id="birthday" name="birthday" required><br><br>

        <input type="submit" value="Submit">
        <p id="error-message" style="color: red; display: none;">密碼不相符，請再檢查。</p>
    </form>

    <script>
        document.getElementById("registerForm").addEventListener("submit", function(event) {
            
            let name = document.getElementById("name").value;
            console.log(name);
            let nameError = document.getElementById("name-error");

            let pwd1 = document.getElementById("password").value;
            let pwd2 = document.getElementById("password2").value;
            let errorMessage = document.getElementById("error-message");
            const nameRegEx = /^[A-Za-z0-9]+$/;

            if (!nameRegEx.test(name)) {
                nameError.style.display = "block";
                event.preventDefault();  // 阻止表單提交
                return;  // 提前結束檢查，避免執行後續檢查
            } else {
                nameError.style.display = "none";
            }

            // 檢查密碼是否一致
            if (pwd1 !== pwd2) {
                // 顯示錯誤訊息
                errorMessage.style.display = "block";
                
                // 阻止表單提交
                event.preventDefault();
            } else {
                // 隱藏錯誤訊息
                errorMessage.style.display = "none";
            }
        });
    </script>
</body>
</html>
